@layer presets {
  :root {
    display: grid;
    min-height: 100%;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    white-space: pre-wrap;
    white-space-collapse: preserve
  }
  a.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  b.w-element {
    font-weight: 700;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px
  }
  body.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0
  }
  div.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h1.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h2.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h3.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  hr.w-element {
    height: 0;
    color: inherit;
    box-sizing: border-box
  }
  p.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  img.w-image {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    max-width: 100%;
    display: block;
    height: auto
  }
  div.w-html-embed {
    display: contents;
    white-space: normal;
    white-space-collapse: collapse
  }
  div.w-navigation-menu {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div.w-menu-list {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div.w-menu-item {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  button.w-button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
    margin: 0
  }
  div.w-text {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    min-height: 1em
  }
  div.w-box {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div.w-menu-content {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  a.w-link {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    display: inline-block
  }
  p.w-paragraph {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div.w-menu-viewport {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div.w-markdown-embed {
    display: contents;
    white-space: normal;
    white-space-collapse: collapse
  }
}
@media all {
  .c12v245d {
    justify-content: center
  }
  .ccy4onp {
    align-items: center
  }
  .c1uoa21q {
    background-color: light-dark(#F2F4FF, #131838)
  }
  :root {
    color-scheme: light dark;
    font-family: "DM Sans", "Noto Sans JP";
    font-weight: 500
  }
  .c7z4ryg {
    width: 100%
  }
  .c1bv1fm7 {
    height: 5rem
  }
  .c10ahqwr {
    display: flex
  }
  .c1ilsqas {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2)
  }
  .cvam674 {
    background-color: light-dark(#ffffffaa, #000000aa)
  }
  .cjnw8bq {
    position: fixed
  }
  .c8rm0tm {
    top: 0px
  }
  .cvyvt8m {
    -webkit-backdrop-filter: blur(64px);
    backdrop-filter: blur(64px)
  }
  .cegjyhq {
    z-index: 5
  }
  .c109howh {
    background-color: light-dark(#fff, #000)
  }
  .c14pipg4 {
    height: 100vh
  }
  .c10idg3e {
    background-image: linear-gradient(180deg,#92A9DF 0%,#114C8E 100%)
  }
  .c1tbobo9 {
    background-size: auto auto
  }
  .c6e8y9s {
    background-repeat: repeat
  }
  .c1iw2zw1 {
    background-attachment: scroll
  }
  .c1ekanbs {
    background-origin: padding-box
  }
  .c113b8pv {
    -webkit-background-clip: border-box;
    background-clip: border-box
  }
  .caanqdp {
    padding-top: 7rem
  }
  .c1k001t5 {
    padding-bottom: 2rem
  }
  .c11iyp3e {
    padding-right: 2rem
  }
  .c1s01ekh {
    padding-left: 2rem
  }
  .c1atdl27 {
    flex-direction: column
  }
  .cepgicz {
    background-position: 0% 0%
  }
  .c1mbyuac {
    margin-left: 1rem
  }
  .cvddzxn {
    font-family: "Montserrat Alternates", sans-serif
  }
  .cbgovzd {
    font-weight: 600
  }
  .ca4a49p {
    font-size: 64px
  }
  .clk5tgp {
    margin-top: 0em
  }
  .c7ep1pc {
    margin-bottom: 0.5rem
  }
  .c1x1dfts {
    color: rgba(242, 244, 255, 1)
  }
  .c117tk5u {
    font-size: 32px
  }
  .c1dgg9g4 {
    margin-bottom: 1rem
  }
  .c12fyb4s {
    position: absolute
  }
  .cik47ol {
    bottom: 0px
  }
  .c1c43ngc {
    margin-right: 1rem
  }
  .c19cs4i7 {
    text-align: center
  }
  .c2oe4sx {
    margin-top: 1rem
  }
  .c1ruoz7k {
    margin-bottom: 2rem
  }
  .cbbr0dc {
    background-color: light-dark(#F2F4FF,#131838)
  }
  .c1stm7fv {
    padding-top: 4rem
  }
  .c1o69y7d {
    padding-bottom: 4rem
  }
  .c159jr2l {
    row-gap: 4rem
  }
  .c1pnm7s {
    column-gap: 4rem
  }
  .c1qopeiv {
    height: 100%
  }
  .c1jt805z {
    max-width: 1200px
  }
  .cdm1ag0 {
    justify-content: space-between
  }
  .ciqrpa6 {
    justify-content: start
  }
  .cdjvmmy {
    text-decoration-line: none
  }
  .c16eseyo {
    margin-bottom: 0em
  }
  .cua250e {
    color: light-dark(#131838, #F2F4FF)
  }
  .c1615a3h {
    min-width: max-content
  }
  .c18r7lsh {
    position: relative
  }
  .c1nkdqmy {
    max-width: max-content
  }
  .c1u51yoh {
    flex-grow: 1
  }
  .c1fyxozx {
    flex-shrink: 1
  }
  .c1oby77s {
    flex-basis: 0
  }
  .c1vqhak5 {
    list-style-type: none
  }
  .chz2lhu {
    row-gap: 0
  }
  .c1mr8pq3 {
    column-gap: 0
  }
  .cwjh6ed {
    margin: 0
  }
  .cuugp9g {
    padding: 0
  }
  .c6t8baf {
    display: inline-flex
  }
  .c22bltr {
    background-color: transparent
  }
  .c1qhcdyy {
    font-size: 0.875rem
  }
  .c1fi5cuq {
    line-height: 1.25rem
  }
  .cht0eit {
    font-weight: 400
  }
  .ci7vqja {
    height: 2.25rem
  }
  .c1yco124 {
    padding-top: 0
  }
  .c19kzc1u {
    padding-right: 0.75rem
  }
  .c1cijgzd {
    padding-bottom: 0
  }
  .ced3s0y {
    padding-left: 0.75rem
  }
  .cw8qqgw {
    --navigation-menu-trigger-icon-transform: 0deg
  }
  .c170tjmx {
    border-top-left-radius: 8px
  }
  .c1vn5tfs {
    border-top-right-radius: 8px
  }
  .c1kp31s8 {
    border-bottom-left-radius: 8px
  }
  .czucxib {
    border-bottom-right-radius: 8px
  }
  .cf7vwbz {
    border-top-style: none
  }
  .c1pt54az {
    border-right-style: none
  }
  .c1v1aqip {
    border-left-style: none
  }
  .c1fybrir {
    border-bottom-style: none
  }
  .c16ya8nv {
    transition-property: background-color
  }
  .c5gq79w {
    transition-duration: 200ms
  }
  .cfq9b07 {
    transition-timing-function: ease
  }
  .cbsu0mq {
    transition-delay: 0ms
  }
  .cpv83kh {
    transition-behavior: normal
  }
  .c1ey153p:focus-visible {
    outline-width: 2px
  }
  .c1wffj6h:focus-visible {
    outline-color: transparent
  }
  .cg3odet:focus-visible {
    outline-offset: 2px
  }
  .cwblwtu:focus-visible {
    border-top-style: none
  }
  .c14z3omo:focus-visible {
    border-right-style: none
  }
  .ca508ev:focus-visible {
    border-left-style: none
  }
  .c1r1ndh8:focus-visible {
    border-bottom-style: none
  }
  .cl0rcjj:focus-visible {
    background-color: light-dark(#00000012,#ffffff12)
  }
  .ckffmm9:disabled {
    pointer-events: none
  }
  .crs1rsf:disabled {
    opacity: 0.5
  }
  .c1q1affg[data-state="open"] {
    --navigation-menu-trigger-icon-transform: 180deg
  }
  .cjb1u0k:hover {
    border-top-style: none
  }
  .c1uzl7ts:hover {
    border-right-style: none
  }
  .cao2a7h:hover {
    border-left-style: none
  }
  .c1jvzd51:hover {
    border-bottom-style: none
  }
  .c19z7nzm:hover {
    background-color: light-dark(#00000012,#ffffff12)
  }
  .c10svky5 {
    color: light-dark(#000, #ddd)
  }
  .cgegxet {
    margin-left: 0.25rem
  }
  .c1dw4829 {
    rotate: var(--navigation-menu-trigger-icon-transform)
  }
  .c1uc2j84 {
    height: 1rem
  }
  .c1kss2rn {
    width: 1rem
  }
  .c1mrqewb {
    flex-shrink: 0
  }
  .c1x8i01y {
    transition-property: all
  }
  .c4xa34q {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  }
  .cw3x7ao {
    transition-delay: 0s
  }
  .c1rbzz7m {
    left: 0
  }
  .c1bq9k1t {
    top: 0
  }
  .c4im5ri {
    positon: absolute
  }
  .c1kael5w {
    width: max-content
  }
  .c1ays5ld {
    padding: 1rem
  }
  .ctnbop5 {
    row-gap: 1rem
  }
  .c17rvfg7 {
    column-gap: 1rem
  }
  .c1vodrrg {
    width: 16rem
  }
  .cmx2o2d {
    color: inherit
  }
  .cvvc3zs {
    -webkit-user-select: none;
    user-select: none
  }
  .cq4ywzg {
    row-gap: 0.25rem
  }
  .cb3my67 {
    column-gap: 0.25rem
  }
  .crxt7mc {
    line-height: 1
  }
  .c1anpkwc {
    background-color: unset
  }
  .cufe47 {
    outline: medium none currentcolor
  }
  .czck9s6 {
    padding: 0.75rem
  }
  .cbwbvjs:hover {
    color: rgba(15, 23, 42, 1)
  }
  .czmuqwl:focus {
    background-color: light-dark(#00000012,#ffffff12)
  }
  .c3m68st:focus {
    color: rgba(15, 23, 42, 1)
  }
  .c1xbn7ez {
    font-weight: 700
  }
  .c1cvc1fy {
    overflow-x: hidden
  }
  .cdmq0wa {
    overflow-y: hidden
  }
  .c1unn2rf {
    display: -webkit-box
  }
  .cicl67j {
    line-height: 1.375
  }
  .c1u9aos4 {
    color: rgba(100, 116, 139, 1)
  }
  .c1huger0 {
    -webkit-box-orient: vertical
  }
  .coxefsf {
    -webkit-line-clamp: 2
  }
  .chu2gw7 {
    top: 100%
  }
  .cllx2wu {
    right: 96px
  }
  .csaddr {
    margin-top: 0.375rem
  }
  .c1tc6v8u {
    border-top-left-radius: 24px
  }
  .cen3wsf {
    border-top-right-radius: 24px
  }
  .c18rgb3y {
    border-bottom-right-radius: 24px
  }
  .caqkv26 {
    border-bottom-left-radius: 24px
  }
  .cknkzax {
    color: rgba(2, 8, 23, 1)
  }
  .chdvygq {
    height: var(--radix-navigation-menu-viewport-height)
  }
  .c145ebzo {
    width: var(--radix-navigation-menu-viewport-width)
  }
  .c1hmrw97 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px 0px
  }
  .cafscv2 {
    z-index: 10
  }
  .c1tt00pm {
    transition-property: height
  }
  .c2cg3w5 {
    display: none
  }
  .c1bxwz0t {
    background-color: rgba(93, 139, 242, 1)
  }
  .c7feqdc {
    padding-bottom: 0.5rem
  }
  .c1ksihlx {
    padding-top: 0.5rem
  }
  .cge9bev {
    padding-right: 0.7rem
  }
  .cjk2p3u {
    padding-left: 0.7rem
  }
  .cz89aj4:focus-visible {
    background-color: rgba(0, 120, 216, 1)
  }
  .c18wbi70:hover {
    background-color: rgba(0, 120, 216, 1)
  }
  .c1x5aw03 {
    right: 0px
  }
  .ctsrmp7 {
    max-height: 70vh
  }
  .c142ylfi {
    overflow-x: auto
  }
  .ctv2jj6 {
    overflow-y: auto
  }
  .c1n9ido6 {
    padding-top: 5rem
  }
  .cfoar8i {
    border-top-left-radius: 32px
  }
  .c13ilcm6 {
    border-top-right-radius: 32px
  }
  .c1w497fm {
    border-bottom-left-radius: 32px
  }
  .c8dkrv8 {
    border-bottom-right-radius: 32px
  }
  .cv0104a {
    padding: 2rem
  }
  .c23z8nw {
    margin-top: 0
  }
  .c1yn6h70 {
    color: light-dark(#131838,#F2F4FF)
  }
  .cc7vtwb {
    row-gap: 0.5rem
  }
  .cz4mm69 {
    flex-wrap: wrap
  }
  .cs02lc {
    display: inline-block
  }
  .ci4a518 {
    background-color: rgba(19, 24, 56, 1)
  }
  .cm4p8zp {
    border-top-style: solid
  }
  .c12jayl4 {
    border-right-style: solid
  }
  .cc6izqw {
    border-left-style: solid
  }
  .c3cll7v {
    border-bottom-style: solid
  }
  .c1se82ym {
    border-top-color: rgba(255, 255, 255, 1)
  }
  .cz061he {
    border-right-color: rgba(255, 255, 255, 1)
  }
  .c1usnmgu {
    border-bottom-color: rgba(255, 255, 255, 1)
  }
  .crlfsv5 {
    border-left-color: rgba(255, 255, 255, 1)
  }
  .crsmt4v {
    transition-property: background-color, color, border-bottom-color, border-left-color, border-right-color, border-top-color
  }
  .c1ozn5tv {
    transition-duration: 200ms, 200ms, 200ms, 200ms, 200ms, 200ms
  }
  .cmnhnbl {
    transition-timing-function: ease, ease, ease, ease, ease, ease
  }
  .c16ykjvg {
    transition-delay: 0ms, 0ms, 0ms, 0ms, 0ms, 0ms
  }
  .c1um1orl {
    transition-behavior: normal, normal, normal, normal, normal, normal
  }
  .c10mtjet:hover {
    background-color: rgba(242, 244, 255, 1)
  }
  .c1n8pxkt:hover {
    border-top-color: rgba(19, 24, 56, 1)
  }
  .c8d5t5x:hover {
    border-right-color: rgba(19, 24, 56, 1)
  }
  .c3lhgj1:hover {
    border-bottom-color: rgba(19, 24, 56, 1)
  }
  .c65inai:hover {
    border-left-color: rgba(19, 24, 56, 1)
  }
  .crxsz50:hover {
    color: rgba(19, 24, 56, 1)
  }
  .cqo7lub {
    margin-bottom: 0
  }
  .c1vr770l {
    height: 300px
  }
  .c7qjy52 {
    font-size: 24px
  }
  .c1xsewl7 {
    margin-left: 2rem
  }
  .c1ovvagj {
    margin-right: 2rem
  }
  .c1btyfa {
    line-height: 1.7
  }
  .cgm33l3 {
    width: 100lvw
  }
  .cu6rr2t p {
    margin-bottom: 0px
  }
  .cvh06f7 h2 {
    line-height: 1.7
  }
  .cz7p94 h2 {
    margin-bottom: -16px
  }
  .c1l93n79 a {
    color: rgba(93, 139, 242, 1)
  }
  .c11k13wx a {
    text-decoration-line: none
  }
  .ch6h5mx li {
    margin-left: -24px
  }
  .ck3238v {
    top: 8px
  }
  .c1imcjwr {
    font-size: 42px
  }
  .clfs8zh {
    top: 72px
  }
  .c1uj2yq0 {
    font-size: 18px
  }
  .c12817z7 {
    line-height: 1.5
  }
  .c1r1zv9s {
    max-width: 900px
  }
  .c1karaxo {
    font-size: 28px
  }
  .c5lrunv {
    background-color: light-dark(#fff,#000)
  }
  .c453hbm {
    row-gap: 2rem
  }
  .c1or5y3g {
    column-gap: 2rem
  }
  .cy4h7ms {
    color: rgba(255, 255, 255, 1)
  }
  .cxr8h7e {
    border: 2px solid transparent
  }
  .cyi660d:hover {
    border-top-color: rgba(93, 139, 242, 1)
  }
  .ca7rlbl:hover {
    border-right-color: rgba(93, 139, 242, 1)
  }
  .c1atnx78:hover {
    border-bottom-color: rgba(93, 139, 242, 1)
  }
  .c1s95ji1:hover {
    border-left-color: rgba(93, 139, 242, 1)
  }
  .c1kkdyp6:hover {
    color: rgba(93, 139, 242, 1)
  }
  .cuh5m4h {
    color: gray
  }
  .czl0ltz {
    border: 0.5px solid light-dark(#13183833, #F2F4FF33)
  }
  .c15rzea7 {
    color: rgba(255, 255, 255, 0.65)
  }
}
@media all and (max-width: 991px) {
  .c1tvshu2 {
    font-size: 54px
  }
  .c16kfi9b {
    font-size: 30px
  }
}
@media all and (max-width: 767px) {
  .ccwkvc {
    padding-top: 3rem
  }
  .c17yqxus {
    margin-left: 0
  }
  .c1ghn8z4 {
    margin-top: 1rem
  }
  .c1f3f3n8 {
    text-align: center
  }
  .cjzicij {
    font-size: 48px
  }
  .c1z0u7ya {
    font-size: 28px
  }
  .c501a67 {
    flex-direction: column
  }
  .cks2l98 {
    padding-left: 1rem
  }
  .c1sacup0 {
    padding-right: 1rem
  }
  .c1s7f7m6 {
    display: none
  }
  .c1bq8pra {
    display: block
  }
  .c15f3w52 {
    margin-left: -250px
  }
  .c1co68v6 {
    justify-content: center
  }
  .cb9779l {
    height: 500px
  }
  .c1gy5szp {
    margin-right: 1rem
  }
  .c1bwyry7 {
    margin-left: 1rem
  }
  .c1arwhab {
    column-gap: 4rem
  }
  .c1ye5hc2 {
    row-gap: 4rem
  }
  .cuia65m {
    width: 200px
  }
}
@media all and (max-width: 479px) {
  .c1f7ljgu {
    padding-bottom: 1rem
  }
  .c1ikxxo6 {
    padding-right: 1rem
  }
  .c1otyg8m {
    padding-left: 1rem
  }
  .c10ek0dz {
    font-size: 38px
  }
  .cqnvqsc {
    font-size: 20px
  }
  .cmnwzjl {
    margin-bottom: 1rem
  }
  .c1ndny3z {
    padding-top: 2rem
  }
  .c1kwqs5p {
    padding-bottom: 2rem
  }
  .cnbgtry {
    padding-left: 0rem
  }
  .ch91fr5 {
    padding-right: 0rem
  }
  .cdw0jo8 {
    column-gap: 2rem
  }
  .cbcybab {
    row-gap: 2rem
  }
  .cjr3ihk {
    display: none
  }
  .cg5ykre {
    border-top-left-radius: 0px
  }
  .c1merv6x {
    border-top-right-radius: 0px
  }
  .cdot8hu {
    border-bottom-left-radius: 0px
  }
  .cssz5kv {
    border-bottom-right-radius: 0px
  }
  .cyxspfs {
    padding: 1rem
  }
  .c16j4kee {
    height: 600px
  }
  .cks20wo {
    font-size: 28px
  }
  .cqx7kte {
    font-size: 24px
  }
  .cfmsnte {
    margin-left: 0rem
  }
  .cbw2ygz {
    margin-right: 0rem
  }
  .c1r10jp3 {
    font-size: 32px
  }
  .cbodz54 {
    display: block
  }
  .cp5616u {
    width: 128px
  }
}