@layer presets {
  :root {
    display: grid;
    min-height: 100%;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    white-space: pre-wrap;
    white-space-collapse: preserve
  }
  a.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  b.w-element {
    font-weight: 700;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px
  }
  body.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0
  }
  div.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h1.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h2.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h3.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h4.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h5.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  hr.w-element {
    height: 0;
    color: inherit;
    box-sizing: border-box
  }
  p.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div.w-html-embed {
    display: contents;
    white-space: normal;
    white-space-collapse: collapse
  }
  div.w-navigation-menu {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div.w-menu-list {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div.w-menu-item {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  button.w-button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
    margin: 0
  }
  div.w-text {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    min-height: 1em
  }
  div.w-box {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div.w-menu-content {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  a.w-link {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    display: inline-block
  }
  p.w-paragraph {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div.w-menu-viewport {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  img.w-image {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    max-width: 100%;
    display: block;
    height: auto
  }
  div.w-markdown-embed {
    display: contents;
    white-space: normal;
    white-space-collapse: collapse
  }
  div.w-you-tube {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  img.w-preview-image {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    max-width: 100%;
    display: block;
    height: auto
  }
  div.w-spinner {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  button.w-play-button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
    margin: 0
  }
}
@media all {
  .cdm1ag0 {
    justify-content: space-between
  }
  .c1uoa21q {
    background-color: light-dark(#F2F4FF, #131838)
  }
  .c10ahqwr {
    display: flex
  }
  .c1atdl27 {
    flex-direction: column
  }
  :root {
    color-scheme: light dark;
    font-family: "DM Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%
  }
  .c7z4ryg {
    width: 100%
  }
  .c1bv1fm7 {
    height: 5rem
  }
  .ccy4onp {
    align-items: center
  }
  .c12v245d {
    justify-content: center
  }
  .c1ilsqas {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2)
  }
  .cvam674 {
    background-color: light-dark(#ffffffaa, #000000aa)
  }
  .cjnw8bq {
    position: fixed
  }
  .c8rm0tm {
    top: 0px
  }
  .cvyvt8m {
    -webkit-backdrop-filter: blur(64px);
    backdrop-filter: blur(64px)
  }
  .cegjyhq {
    z-index: 5
  }
  .cnq5uvv {
    padding-left: max(1rem,env(safe-area-inset-left))
  }
  .cn7vhbn {
    padding-right: max(1rem,env(safe-area-inset-left))
  }
  .cbbr0dc {
    background-color: light-dark(#F2F4FF,#131838)
  }
  .c1ozennv {
    height: 100lvh
  }
  .c1se3qqu {
    background-image: linear-gradient(180deg,#94AFE8 0%,#204186 100%)
  }
  .c1tbobo9 {
    background-size: auto auto
  }
  .c6e8y9s {
    background-repeat: repeat
  }
  .c1iw2zw1 {
    background-attachment: scroll
  }
  .c1ekanbs {
    background-origin: padding-box
  }
  .c113b8pv {
    -webkit-background-clip: border-box;
    background-clip: border-box
  }
  .caanqdp {
    padding-top: 7rem
  }
  .c1k001t5 {
    padding-bottom: 2rem
  }
  .c1y0vhl0 {
    padding-right: max(2rem,env(safe-area-inset-left))
  }
  .c3qq3un {
    padding-left: max(2rem,env(safe-area-inset-left))
  }
  .cepgicz {
    background-position: 0% 0%
  }
  .c1mbyuac {
    margin-left: 1rem
  }
  .cvddzxn {
    font-family: "Montserrat Alternates", sans-serif
  }
  .cbgovzd {
    font-weight: 600
  }
  .c14l033j {
    font-size: 54px
  }
  .clk5tgp {
    margin-top: 0em
  }
  .c7ep1pc {
    margin-bottom: 0.5rem
  }
  .c1x1dfts {
    color: rgba(242, 244, 255, 1)
  }
  .c7qjy52 {
    font-size: 24px
  }
  .c1dgg9g4 {
    margin-bottom: 1rem
  }
  .c12fyb4s {
    position: absolute
  }
  .cik47ol {
    bottom: 0px
  }
  .c1c43ngc {
    margin-right: 1rem
  }
  .c19cs4i7 {
    text-align: center
  }
  .c2oe4sx {
    margin-top: 1rem
  }
  .c1ruoz7k {
    margin-bottom: 2rem
  }
  .c1stm7fv {
    padding-top: 4rem
  }
  .c1o69y7d {
    padding-bottom: 4rem
  }
  .c159jr2l {
    row-gap: 4rem
  }
  .c1pnm7s {
    column-gap: 4rem
  }
  .c1qopeiv {
    height: 100%
  }
  .c1jt805z {
    max-width: 1200px
  }
  .ciqrpa6 {
    justify-content: start
  }
  .cdjvmmy {
    text-decoration-line: none
  }
  .c16eseyo {
    margin-bottom: 0em
  }
  .cua250e {
    color: light-dark(#131838, #F2F4FF)
  }
  .c117tk5u {
    font-size: 32px
  }
  .c1615a3h {
    min-width: max-content
  }
  .c18r7lsh {
    position: relative
  }
  .c1nkdqmy {
    max-width: max-content
  }
  .c1u51yoh {
    flex-grow: 1
  }
  .c1fyxozx {
    flex-shrink: 1
  }
  .c1oby77s {
    flex-basis: 0
  }
  .c1vqhak5 {
    list-style-type: none
  }
  .chz2lhu {
    row-gap: 0
  }
  .c1mr8pq3 {
    column-gap: 0
  }
  .cwjh6ed {
    margin: 0
  }
  .cuugp9g {
    padding: 0
  }
  .c6t8baf {
    display: inline-flex
  }
  .c22bltr {
    background-color: transparent
  }
  .c1qhcdyy {
    font-size: 0.875rem
  }
  .c1fi5cuq {
    line-height: 1.25rem
  }
  .cht0eit {
    font-weight: 400
  }
  .ci7vqja {
    height: 2.25rem
  }
  .c1yco124 {
    padding-top: 0
  }
  .c19kzc1u {
    padding-right: 0.75rem
  }
  .c1cijgzd {
    padding-bottom: 0
  }
  .ced3s0y {
    padding-left: 0.75rem
  }
  .cw8qqgw {
    --navigation-menu-trigger-icon-transform: 0deg
  }
  .c170tjmx {
    border-top-left-radius: 8px
  }
  .c1vn5tfs {
    border-top-right-radius: 8px
  }
  .c1kp31s8 {
    border-bottom-left-radius: 8px
  }
  .czucxib {
    border-bottom-right-radius: 8px
  }
  .cf7vwbz {
    border-top-style: none
  }
  .c1pt54az {
    border-right-style: none
  }
  .c1v1aqip {
    border-left-style: none
  }
  .c1fybrir {
    border-bottom-style: none
  }
  .c16ya8nv {
    transition-property: background-color
  }
  .c5gq79w {
    transition-duration: 200ms
  }
  .cfq9b07 {
    transition-timing-function: ease
  }
  .cbsu0mq {
    transition-delay: 0ms
  }
  .cpv83kh {
    transition-behavior: normal
  }
  .c1ey153p:focus-visible {
    outline-width: 2px
  }
  .c1wffj6h:focus-visible {
    outline-color: transparent
  }
  .cg3odet:focus-visible {
    outline-offset: 2px
  }
  .cwblwtu:focus-visible {
    border-top-style: none
  }
  .c14z3omo:focus-visible {
    border-right-style: none
  }
  .ca508ev:focus-visible {
    border-left-style: none
  }
  .c1r1ndh8:focus-visible {
    border-bottom-style: none
  }
  .cl0rcjj:focus-visible {
    background-color: light-dark(#00000012,#ffffff12)
  }
  .ckffmm9:disabled {
    pointer-events: none
  }
  .crs1rsf:disabled {
    opacity: 0.5
  }
  .c1q1affg[data-state="open"] {
    --navigation-menu-trigger-icon-transform: 180deg
  }
  .cjb1u0k:hover {
    border-top-style: none
  }
  .c1uzl7ts:hover {
    border-right-style: none
  }
  .cao2a7h:hover {
    border-left-style: none
  }
  .c1jvzd51:hover {
    border-bottom-style: none
  }
  .c19z7nzm:hover {
    background-color: light-dark(#00000012,#ffffff12)
  }
  .c10svky5 {
    color: light-dark(#000, #ddd)
  }
  .cgegxet {
    margin-left: 0.25rem
  }
  .c1dw4829 {
    rotate: var(--navigation-menu-trigger-icon-transform)
  }
  .c1uc2j84 {
    height: 1rem
  }
  .c1kss2rn {
    width: 1rem
  }
  .c1mrqewb {
    flex-shrink: 0
  }
  .c1x8i01y {
    transition-property: all
  }
  .c4xa34q {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  }
  .cw3x7ao {
    transition-delay: 0s
  }
  .c1rbzz7m {
    left: 0
  }
  .c1bq9k1t {
    top: 0
  }
  .c4im5ri {
    positon: absolute
  }
  .c1kael5w {
    width: max-content
  }
  .c1ays5ld {
    padding: 1rem
  }
  .ctnbop5 {
    row-gap: 1rem
  }
  .c17rvfg7 {
    column-gap: 1rem
  }
  .c1vodrrg {
    width: 16rem
  }
  .cmx2o2d {
    color: inherit
  }
  .cvvc3zs {
    -webkit-user-select: none;
    user-select: none
  }
  .cq4ywzg {
    row-gap: 0.25rem
  }
  .cb3my67 {
    column-gap: 0.25rem
  }
  .crxt7mc {
    line-height: 1
  }
  .c1anpkwc {
    background-color: unset
  }
  .cufe47 {
    outline: medium none currentcolor
  }
  .czck9s6 {
    padding: 0.75rem
  }
  .cbwbvjs:hover {
    color: rgba(15, 23, 42, 1)
  }
  .czmuqwl:focus {
    background-color: light-dark(#00000012,#ffffff12)
  }
  .c3m68st:focus {
    color: rgba(15, 23, 42, 1)
  }
  .c1xbn7ez {
    font-weight: 700
  }
  .c1cvc1fy {
    overflow-x: hidden
  }
  .cdmq0wa {
    overflow-y: hidden
  }
  .c1unn2rf {
    display: -webkit-box
  }
  .cicl67j {
    line-height: 1.375
  }
  .c1u9aos4 {
    color: rgba(100, 116, 139, 1)
  }
  .c1huger0 {
    -webkit-box-orient: vertical
  }
  .coxefsf {
    -webkit-line-clamp: 2
  }
  .chu2gw7 {
    top: 100%
  }
  .cllx2wu {
    right: 96px
  }
  .csaddr {
    margin-top: 0.375rem
  }
  .c1tc6v8u {
    border-top-left-radius: 24px
  }
  .cen3wsf {
    border-top-right-radius: 24px
  }
  .c18rgb3y {
    border-bottom-right-radius: 24px
  }
  .caqkv26 {
    border-bottom-left-radius: 24px
  }
  .cknkzax {
    color: rgba(2, 8, 23, 1)
  }
  .chdvygq {
    height: var(--radix-navigation-menu-viewport-height)
  }
  .c145ebzo {
    width: var(--radix-navigation-menu-viewport-width)
  }
  .c1hmrw97 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px 0px
  }
  .c109howh {
    background-color: light-dark(#fff, #000)
  }
  .cafscv2 {
    z-index: 10
  }
  .c1tt00pm {
    transition-property: height
  }
  .c2cg3w5 {
    display: none
  }
  .c1bxwz0t {
    background-color: rgba(93, 139, 242, 1)
  }
  .c7feqdc {
    padding-bottom: 0.5rem
  }
  .c1ksihlx {
    padding-top: 0.5rem
  }
  .cge9bev {
    padding-right: 0.7rem
  }
  .cjk2p3u {
    padding-left: 0.7rem
  }
  .cz89aj4:focus-visible {
    background-color: rgba(0, 120, 216, 1)
  }
  .c18wbi70:hover {
    background-color: rgba(0, 120, 216, 1)
  }
  .c1x5aw03 {
    right: 0px
  }
  .ctsrmp7 {
    max-height: 70vh
  }
  .c142ylfi {
    overflow-x: auto
  }
  .ctv2jj6 {
    overflow-y: auto
  }
  .cfoar8i {
    border-top-left-radius: 32px
  }
  .c13ilcm6 {
    border-top-right-radius: 32px
  }
  .c1w497fm {
    border-bottom-left-radius: 32px
  }
  .c8dkrv8 {
    border-bottom-right-radius: 32px
  }
  .c1r1zv9s {
    max-width: 900px
  }
  .cv0104a {
    padding: 2rem
  }
  .c23z8nw {
    margin-top: 0
  }
  .c1yn6h70 {
    color: light-dark(#131838,#F2F4FF)
  }
  .cc7vtwb {
    row-gap: 0.5rem
  }
  .cz4mm69 {
    flex-wrap: wrap
  }
  .cs02lc {
    display: inline-block
  }
  .c1vr770l {
    height: 300px
  }
  .c16qnb3j {
    padding-top: 2rem
  }
  .c1btyfa {
    line-height: 1.7
  }
  .cgm33l3 {
    width: 100lvw
  }
  .cu6rr2t p {
    margin-bottom: 0px
  }
  .cvh06f7 h2 {
    line-height: 1.7
  }
  .cz7p94 h2 {
    margin-bottom: -16px
  }
  .cpz8b15 h3 {
    margin-bottom: -16px
  }
  .cl9ob9i h4 {
    margin-bottom: -12px
  }
  .c1sr8v96 a {
    color: light-dark(#0051ff, #73acff)
  }
  .c11k13wx a {
    text-decoration-line: none
  }
  .c16oomju img {
    width: 100%
  }
  .c1cjjo2m img {
    border-top-left-radius: 16px
  }
  .c13amotr img {
    border-top-right-radius: 16px
  }
  .ca5czps img {
    border-bottom-left-radius: 16px
  }
  .chbx7ou img {
    border-bottom-right-radius: 16px
  }
  .cc9fjt2 img {
    margin-bottom: -12px
  }
  .c1kaohmx blockquote {
    padding-left: 16px
  }
  .c3pvp22 blockquote {
    margin-left: 0
  }
  .c10uadrl blockquote {
    margin-right: 0
  }
  .c10wrxyb blockquote {
    border-top: 0px solid light-dark(#0051ff, #73acff)
  }
  .co7anm5 blockquote {
    border-right: 0px solid light-dark(#0051ff, #73acff)
  }
  .c1gm4vhf blockquote {
    border-bottom: 0px solid light-dark(#0051ff, #73acff)
  }
  .c1a3306b blockquote {
    border-left: 4px solid light-dark(#0051ff, #73acff)
  }
  .c1pngh2o code {
    padding-left: 8px
  }
  .c1i1ssua code {
    padding-right: 8px
  }
  .c6vyc6y code {
    padding-bottom: 4px
  }
  .ct8dvwa code {
    padding-top: 4px
  }
  .c1dbc9mv code {
    border-top-left-radius: 8px
  }
  .ckfhbto code {
    border-top-right-radius: 8px
  }
  .c11cn4z9 code {
    border-bottom-left-radius: 8px
  }
  .c1i4opmp code {
    border-bottom-right-radius: 8px
  }
  .cj1uatf code {
    background-color: light-dark(#F2F4FF, #131838)
  }
  .cbahgcg code {
    font-family: "Google Sans Code", monospace
  }
  .c1pdgxs0 :where(ul, ol) {
    line-height: 2
  }
  .ch6h5mx li {
    margin-left: -24px
  }
  .c13vvc9x table {
    width: 100%
  }
  .c13yiq2p table {
    border-top-style: none
  }
  .cdxnsle table {
    border-right-style: none
  }
  .cvqcr91 table {
    border-left-style: none
  }
  .c8aeqr1 table {
    border-bottom-style: none
  }
  .cnyqbuq table {
    border-top-width: 0px
  }
  .cvpueh2 table {
    border-right-width: 0px
  }
  .c18cffgd table {
    border-left-width: 0px
  }
  .c1vm6q1b table {
    border-bottom-width: 0px
  }
  .c110tfwo table {
    line-height: 1.7
  }
  .cdr93bb table {
    overflow-x: auto
  }
  .c1y26qy3 table {
    overflow-y: auto
  }
  .c28letw tr {
    border-top-width: 0px
  }
  .cmmd6l4 tr {
    border-right-width: 0px
  }
  .c1uavql0 tr {
    border-left-width: 0px
  }
  .c1numm6r tr {
    border-bottom-width: 0px
  }
  .cxb3o4o tr {
    border-top-style: none
  }
  .cxwi62w tr {
    border-right-style: none
  }
  .cen4rqz tr {
    border-left-style: none
  }
  .cfgexva tr {
    border-bottom-style: none
  }
  .clihmdn th {
    background-color: rgba(72, 121, 226, 1)
  }
  .cvkpfwr th {
    color: rgba(255, 255, 255, 1)
  }
  .cnr5mh4 th {
    padding-top: 12px
  }
  .c1dffutb th {
    padding-bottom: 12px
  }
  .cn1jhwk th {
    padding-left: 16px
  }
  .c1gr8i1y th {
    padding-right: 16px
  }
  .c14m0z9d th {
    text-align: start
  }
  .c1r74vbe th {
    outline: 1px solid rgba(72, 121, 226, 1)
  }
  .c1xtg8wy th {
    border: 0px none light-dark(#F2F4FF, #131838)
  }
  .cprh4dv td {
    background-color: light-dark(#13183811, #F2F4FF11)
  }
  .c1f53ie1 td {
    padding-top: 12px
  }
  .c1sx0g94 td {
    padding-bottom: 12px
  }
  .c1kr23xr td {
    padding-right: 16px
  }
  .c1v6qm63 td {
    padding-left: 16px
  }
  .ci9rfmi td {
    border-top-width: 0px
  }
  .c3fvy2x td {
    border-right-width: 0px
  }
  .cnbw67s td {
    border-left-width: 0px
  }
  .c4xja9h td {
    border-bottom-width: 0px
  }
  .c1v7wo8r td {
    border-top-style: none
  }
  .c1vai48 td {
    border-right-style: none
  }
  .cf4v29l td {
    border-left-style: none
  }
  .cjt05yl td {
    border-bottom-style: none
  }
  .cc6t6k2 td {
    outline: 1px solid light-dark(#F2F4FF,#131838)
  }
  .clfs8zh {
    top: 72px
  }
  .c1uj2yq0 {
    font-size: 18px
  }
  .c12817z7 {
    line-height: 1.5
  }
  .ck3238v {
    top: 8px
  }
  .cqo7lub {
    margin-bottom: 0
  }
  .c1karaxo {
    font-size: 28px
  }
  .c1imcjwr {
    font-size: 42px
  }
  .cuh5m4h {
    color: gray
  }
  .czl0ltz {
    border: 0.5px solid light-dark(#13183833, #F2F4FF33)
  }
  .c5lrunv {
    background-color: light-dark(#fff,#000)
  }
  .c453hbm {
    row-gap: 2rem
  }
  .c1or5y3g {
    column-gap: 2rem
  }
  .c5shpkj {
    background-color: rgba(72, 121, 226, 1)
  }
  .cy4h7ms {
    color: rgba(255, 255, 255, 1)
  }
  .crsmt4v {
    transition-property: background-color, color, border-bottom-color, border-left-color, border-right-color, border-top-color
  }
  .c1ozn5tv {
    transition-duration: 200ms, 200ms, 200ms, 200ms, 200ms, 200ms
  }
  .cmnhnbl {
    transition-timing-function: ease, ease, ease, ease, ease, ease
  }
  .c16ykjvg {
    transition-delay: 0ms, 0ms, 0ms, 0ms, 0ms, 0ms
  }
  .c1um1orl {
    transition-behavior: normal, normal, normal, normal, normal, normal
  }
  .cxr8h7e {
    border: 2px solid transparent
  }
  .c1yk3zoa:hover {
    border-top-color: rgba(72, 121, 226, 1)
  }
  .c1ga2ams:hover {
    border-right-color: rgba(72, 121, 226, 1)
  }
  .cgbsic3:hover {
    border-bottom-color: rgba(72, 121, 226, 1)
  }
  .cinh8md:hover {
    border-left-color: rgba(72, 121, 226, 1)
  }
  .c10mtjet:hover {
    background-color: rgba(242, 244, 255, 1)
  }
  .c10h7c1p:hover {
    color: rgba(72, 121, 226, 1)
  }
  .cmfetcc {
    margin-top: 0.5rem
  }
  .c15rzea7 {
    color: rgba(255, 255, 255, 0.65)
  }
  .cey7iys {
    max-width: 50vw
  }
  .c175p17 {
    overflow-x: clip
  }
  .c1rl5guf {
    overflow-y: clip
  }
  .c13jyokv p {
    margin-top: 0
  }
  .cvwxmdx p {
    margin-bottom: 0
  }
  .c17xwl4u img {
    margin-top: 0
  }
  .c1445yj8 img {
    margin-bottom: 0
  }
  .c1tqhnvc img {
    border-top-left-radius: 8px
  }
  .c1xhku0o img {
    border-top-right-radius: 8px
  }
  .c1liz230 img {
    border-bottom-left-radius: 8px
  }
  .cxebacj img {
    border-bottom-right-radius: 8px
  }
  .chjqrll p {
    margin-bottom: 0.5rem
  }
  .c11yke06 {
    margin-bottom: -12px
  }
  .ckybhxy {
    aspect-ratio: 640/360
  }
  .c1uuzdsh {
    object-fit: cover
  }
  .c1r25v61 {
    object-position: center
  }
  .c1hfc843 {
    top: 50%
  }
  .c12rrra5 {
    left: 50%
  }
  .c18wk1c8 {
    width: 70px
  }
  .c1r26b8v {
    height: 70px
  }
  .cszc27n {
    margin-top: -35px
  }
  .c1rypgid {
    margin-left: -35px
  }
  .c1hzn7de {
    border-top-left-radius: 40px
  }
  .c1ux189r {
    border-top-right-radius: 40px
  }
  .cfdjmjq {
    border-bottom-left-radius: 40px
  }
  .cjfpz06 {
    border-bottom-right-radius: 40px
  }
  .c4pbj97 {
    width: 80px
  }
  .c1kjjn33 {
    height: 80px
  }
  .cymmwca {
    margin-top: -40px
  }
  .c1c1nm68 {
    margin-left: -40px
  }
  .c1bxdvsy {
    cursor: pointer
  }
  .c1pbh4tf {
    width: 60px
  }
  .c4qv5oy {
    height: 60px
  }
  .cia45dz {
    margin-bottom: 4rem
  }
  .c1s236z9 h3 {
    margin-bottom: -8px
  }
  .c93cdo9 p {
    line-height: 1.7
  }
  .c1cgzzq8 {
    margin-top: 2rem
  }
  .c1d83kno p {
    text-align: center
  }
  .c1ivf25o p {
    color: rgba(155, 155, 155, 1)
  }
  .c6nfgdb p {
    margin-top: 64px
  }
  .c6gvt71 {
    margin-top: 1.5rem
  }
  .coold5d {
    margin-bottom: -8px
  }
  .cndeprc {
    width: calc(100vw - 4rem)
  }
  .c1c5nuzn table {
    min-width: 600px
  }
  .c11drp1d table {
    table-layout: fixed
  }
  .cxsst0j {
    border-top-width: 0px
  }
  .c1dm57t7 {
    border-right-width: 0px
  }
  .c14et3xy {
    border-left-width: 0px
  }
  .c1p94064 {
    border-bottom-width: 0px
  }
  .c13o8mej img {
    object-fit: contain
  }
  .cit9x1f img {
    margin: 1rem
  }
}
@media all and (max-width: 991px) {
  .c1keexhk {
    font-size: 48px
  }
  .c1juw3eu {
    font-size: 20px
  }
  .c1xndikr {
    height: 400px
  }
}
@media all and (max-width: 767px) {
  .ccwkvc {
    padding-top: 3rem
  }
  .c17yqxus {
    margin-left: 0
  }
  .c1ghn8z4 {
    margin-top: 1rem
  }
  .c1f3f3n8 {
    text-align: center
  }
  .c501a67 {
    flex-direction: column
  }
  .ckrv518 {
    padding-left: max(1rem,env(safe-area-inset-left))
  }
  .c6u7hdu {
    padding-right: max(1rem,env(safe-area-inset-left))
  }
  .c1s7f7m6 {
    display: none
  }
  .c1bq8pra {
    display: block
  }
  .c15f3w52 {
    margin-left: -250px
  }
  .c1co68v6 {
    justify-content: center
  }
  .c1qe7rj6 {
    height: 600px
  }
  .c12grc7c {
    align-items: start
  }
  .c89z8hu {
    max-width: 80vw
  }
  .c1jmc64i {
    width: calc(100vw - 2rem)
  }
  .c1lyu98q img {
    width: 170px
  }
  .co98q9h img {
    height: 170px
  }
  .c1nnnk8m img {
    width: 128px
  }
  .c4f6612 img {
    height: 128px
  }
  .c9gwnxb img {
    margin: 0
  }
}
@media all and (max-width: 479px) {
  .c1f7ljgu {
    padding-bottom: 1rem
  }
  .ciyi9fo {
    padding-right: max(1rem,env(safe-area-inset-left))
  }
  .cacj515 {
    padding-left: max(1rem,env(safe-area-inset-left))
  }
  .c10ek0dz {
    font-size: 38px
  }
  .c16tvqy9 {
    font-size: 18px
  }
  .cmnwzjl {
    margin-bottom: 1rem
  }
  .c1ndny3z {
    padding-top: 2rem
  }
  .c1kwqs5p {
    padding-bottom: 2rem
  }
  .cmvstsy {
    padding-left: env(safe-area-inset-left)
  }
  .c1h8opas {
    padding-right: env(safe-area-inset-left)
  }
  .cdw0jo8 {
    column-gap: 2rem
  }
  .cbcybab {
    row-gap: 2rem
  }
  .cjr3ihk {
    display: none
  }
  .c1m7ydhu {
    height: 4rem
  }
  .cg5ykre {
    border-top-left-radius: 0px
  }
  .c1merv6x {
    border-top-right-radius: 0px
  }
  .cdot8hu {
    border-bottom-left-radius: 0px
  }
  .cssz5kv {
    border-bottom-right-radius: 0px
  }
  .cyxspfs {
    padding: 1rem
  }
  .c1aeyyf {
    padding-top: 1rem
  }
  .cks20wo {
    font-size: 28px
  }
  .cqx7kte {
    font-size: 24px
  }
  .c1r10jp3 {
    font-size: 32px
  }
  .cbodz54 {
    display: block
  }
  .cjaup7g {
    margin-bottom: 2rem
  }
  .c1kc7yp1 {
    width: 100vw
  }
  .c1bge907 img {
    width: 110px
  }
  .c1xoovru img {
    height: 110px
  }
}